# 可供选择的过滤器
# 经验要求：不限, 在校/应届, 1年以内, 1-3年, 3-5年, 5-10年, 10年以上
# 学历要求：不限, 初中及以下, 中专/中技, 高中, 大专, 本科, 硕士, 博士
# 薪资待遇(单选): 不限, 3K以下, 3-5K, 5-10K, 10-20K, 20-50K, 50K以上
# 求职意向: 不限, 离职-随时到岗, 在职-暂不考虑, 在职-考虑机会, 在职-月内到岗

[职位名称(例如：xxx _ 北京  10-20K]
filters = 3-5年,5-10年,本科,硕士,10-20K,离职-随时到岗,在职-月内到岗
max_say_hi = 25
